<p>component 2 : edit</p>
<p>{{data.firstname}} {{data.lastname}}</p>
<form>
    <div class="row">
        <div class="col-6 form-group">
            <input type="text" class="form-control" id="fname" [(ngModel)]="data.firstname" name="data.firstname" placeholder="firstname">
        </div>
        <div class="col-6 form-group">
            <input type="text" class="form-control" id="lname" [(ngModel)]="data.lastname" name="data.lastname" placeholder="lastname">
        </div>
    </div>

</form>
