/* css for stepper html */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}
.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    /* font-size: 30px; */
}

.row-col-12 {
    grid-column: 1 / span 4;
}

.progressBar li {
    /* list-style-type = none -> for hide bullet points */
    list-style-type: none;
    float: left;
    width: 12%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: "";
    line-height: 30px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: #5cb85c;
}

.progressBar li.active:before {
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.progressBar .active:after {
    background-color: #5cb85c;
}