<div class="grid-container">
    <div class="row-col-12">
        <ul class="progressBar">
            <li class="active">ยื่นคำร้อง</li>
            <li class="active">รออนุมัติ</li>
            <li class="active">อนุมัติ</li>
            <li class="active">นัดทำสัญญา</li>
            <li>ชำระเงิน</li>
            <li>ทำสัญญา</li>
            <li>ไม่อนุมัติ</li>
            <li>ยกเลิกคำร้อง</li>
        </ul>
    </div>
    <div class="row-col-12">
        <mat-stepper [linear]="isLinear" #stepper labelPosition="bottom" ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}">
            <mat-step [stepControl]="firstFormGroup" label="ยื่นคำร้อง">
                <form [formGroup]="firstFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="รออนุมัติ">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="อนุมัติ">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="นัดทำสัญญา">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="ชำระเงิน">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="ทำสัญญา">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="ไม่อนุมัติ">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="ยกเลิกคำร้อง">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>
    </div>

</div>