.grid-list{
    flex-direction: column;
}

.wrapper-progressBar {
    width: 100%;
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 10%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: #5cb85c;
}

.progressBar li.active:before {
    border-color: #5cb85c;
    background-color: #5cb85c
}

.progressBar .active:after {
    background-color: #5cb85c;
}
